{% extends 'base.html.twig' %}

{% block title %}Fonctionnalité indisponible{% endblock %}

{% block body %}
<div class="card shadow-sm">
    <div class="card-body">
        <h3>Fonctionnalité indisponible</h3>
        <p>La gestion des produits n'est pas disponible car la table <strong>produits</strong> est absente de la base de données.</p>
        <p>Vous pouvez continuer à utiliser les autres parties de l'application.</p>
        <a href="{{ path('app_dashboard') }}" class="btn btn-brasil">Retour au tableau de bord</a>
    </div>
</div>
{% endblock %}
